.navbar-brand,
.big-text,
.form-info,
.card-title {
    font-family: 'Bungee', cursive;
}

.navbar {
    opacity: 97%;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
    display: block;
    margin-bottom: 50px;
}

.username {
    text-decoration: none;
    color: teal;
}


/* ====================================================== */

.home {
    border-radius: 20px;
    box-shadow: -5px 7px 15px rgba(255, 255, 255, 0.3), 5px -7px 15px rgba(255, 255, 255, 0.3);
}

body {
    background-color: #11674C;
    font-family: 'Kufam', cursive;
}

.random-dots {
    color: white
}

.login-form,
.card {
    border-radius: 15px;
}

.edit,
.finish {
    transition: .5s ease-in-out;
}

.finish:hover {
    color: teal;
}

.edit:hover {
    color: tomato;
}


/* ====================================================== */

.card {
    transition: .5s ease-in-out;
    box-shadow: -10px 10px 15px rgba(123, 4, 69, 0.482);
    height: 47vh;
}

.card-body {
    overflow: auto;
    max-height: 20vh;
}

.card:hover {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .4), inset -5px -5px 10px rgba(0, 0, 0, .4);
}


/* ====================================================== */