
body {
    background-image: url('./asset/bg02.jpg');
    background-size: 100%;
    padding-top: 1rem;
}

a{
    color: black;
}
.content{
    padding: 3rem 1.5rem;
    text-align: center;
}

#logoutbtn{
    margin-left: 68vw;
    margin-right: 10vw;
}


#logo{
    margin-left: 5vw;
}

#text{
    margin-left: 3px;
    margin-top: 1vh;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 2vw;
}

#Flex-01 {
    margin-right: 50px;
    margin-top: 15vh;
    height: 65vh;
    width: 50vw;
}

#quotes {
    margin: 10%;
    align-content: center;
}

.navbar {
    background-color: #E89923;
    height: 3.3rem;
    color: rgb(4, 23, 59);
}
.nav-link:hover{ 
    background: #d16c6c; 
    color: #FD1E68;
    float: right;
}

.button-right{
    float: right;
}

.margin-15px{
    margin-top: 15px;
    margin-bottom: 15px
}


